@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #151515 url("/images/toronto.jpg") no-repeat fixed center;
}
h1, span {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
h1, h2, span {
    color: #fdfaf6;
}
h2 {
    font-family: 'Pacifico', cursive;
    font-size: 5rem;
    font-weight: bold;
}

a {
    text-decoration: none;
}
a:hover {
    color: lightcoral;
}
p, a {
    color: #99154e;
}
p {
    font-size: 1.7rem;
    font-weight: bold;
}
.count__down {
    min-height: 90vh;
}
.title {
    font-size: 4em;
    margin-top: 80px;
}
.subtitle {
    font-size: 2rem;
}
.grid {
    display: grid;
    row-gap: 40px;
    align-items: center;
    justify-content: center;
}

.grid__timer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 70px;
}

.attribution {
    display: flex;
    justify-content: center;
}

.img__time {
    visibility: hidden;

}

@media only screen and (max-width: 600px) {

    body {
        background: #151515 url("/images/toronto-night.jpg") no-repeat fixed center;
        background-size: 100% 100%;

    }
    h1, span {
        font-weight: 600;
    }

    .title {
        font-size: 1.75em;
        padding-top: 120px;
        text-align: center;
    }
 
    h2 {
        font-size: 2rem;
        font-weight: bold;
    }

    .subtitle {
        font-size: 1rem;
    }
    p {
        font-size: .75rem;
    }
    .img__time {
        visibility: visible; 
    }
    .image {
        width: 400px;
    }
    
  }